[Unit]
Description=Multi-purpose horse web interface
After=network.target noip.service

[Service]
User=pi
Restart=always
#RestartSec=10     
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=horse-web
WorkingDirectory=/home/pi/horse
ExecStart=/usr/bin/node horse-web.js
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
